@model Bands.Models.ShowModel

<div class="card text-white bg-dark mb3 " style="width: 18rem;">
    <div class="card-body">
    <p id = "id" class="card-title">ID: @Model.id</p>

    <a id="accnum" asp-area="" asp-controller="Band" asp-action="showDetails" asp-route-showID = "@Model.id">
    <p class="card-text"><p id="bold">Show Date:</p>@Model.showDate</p></a>

    <p class="card-text"><p id="bold">Show Venue:</p> @Model.showVenue</p>
    <p class="card-text"><p id="bold">Show Rating:</p> @Model.showRating</p>
    <p class="card-text"><p id="bold">Description:</p> @Model.showDescription</p>

    </div>
</div>